# Q1
Write a code to display a list of the first 12 multiples of 8 using a for loop

In [48]:
multiples_eight = []

for i in range(1,13):
    i = i*8
    multiples_eight.append(i)
    
multiples_eight

[8, 16, 24, 32, 40, 48, 56, 64, 72, 80, 88, 96]

# Q2
Write the code to print sum of all even numbers from 1 to 201

In [4]:
even_num=[]
for e in range(1,202):
    if e%2==0:
        even_num.append(e)
       
sum(even_num)

10100

In [51]:
even = 0
for num in range(0,201,2):
    even += num

even

10100

# Q3
`my_list = [3, 5, 7, 12, 41]`

Write the code to display the list of the squares of each number in my list

- Without using list comprehension
- Using list comprehension

In [52]:
my_list = [3, 5, 7, 12, 41]

answer_list=[]

for num in my_list:
    answer_list.append(num**2)

answer_list

[9, 25, 49, 144, 1681]

In [53]:
answer_lst = [num**2 for num in my_list]

answer_lst

[9, 25, 49, 144, 1681]

# Q4
`my_list1 = [3, 53,47, 22, 53, 78, 12, 41]`

Calculate the average of my_list1

- Without using sum and len fucnctions
- Using sum and len functions

In [59]:
#without using sum and len functions
my_list1 = [3, 53,47, 22, 53, 78, 12, 41]

sumx = 0
count = 0

for num in my_list1:
    sumx += num
    count += 1
average = sumx/count

average

38.625

In [6]:
#Using sum and len functions
my_list1 = [3, 53, 47, 22, 53, 78, 12, 41]

sum(my_list1)/len(my_list1)

38.625

# Q5

Write a Python program to guess a number between 1 and 9.
User is prompted to enter a guess. If the user guesses wrong then the prompt appears again until the guess is correct, on successful guess, user will get a "Well guessed!" message, and the program will exit.

In [2]:
# Set the secret number
number = 7


guess = int(input("Guess a number between 1 and 9: "))

while guess != number:
    guess = int(input("Guess a number between 1 and 9: "))

print("Well guessed!")

Guess a number between 1 and 9: 6
Guess a number between 1 and 9: 7
Well guessed!

# Q6
Write a Python program to construct the following pattern.

`*` 

`* *` 

`* * *` 

`* * * *` 

`* * * * *`

In [93]:
for i in range(1,6):
    print("*"*i)

*
**
***
****
*****

# Q7
Write a Python program that accepts a word from the user and reverses it.

In [13]:
user= input('Enter word: ')
reverse_word = user[::-1]
print(reverse_word)

Enter word: hello
olleh

# Q8

`lst = [3,4,5,4,7,8,5,8,3,6,8,9,11]`

Write a Python program to count the number of even and odd numbers in the above list of numbers.

**Expected output should be in this format**

{"Even" : num_of_even, "Odd": num_of_odd}

# Q9
 Write a Python program that iterates the integers from 1 to 50. For multiples of three print "Fizz" instead of the number and for multiples of five print "Buzz". For numbers that are multiples of three and five, print "FizzBuzz".
Sample Output :
1

2

fizz

4

buzz

In [6]:
for i in range(1,50):
    if i % 15 == 0:
        print ("FizzBuzz")
    elif i % 5 == 0:
        print ("Buzz")
    elif i % 3 == 0:
        print("Fizz")
    else:
        print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49

# Q10
 Write a Python program to find the median of three values inputs from the user

In [16]:
user1 = int(input("Enter first number: " ))
user2 = int(input("Enter second number: " ))
user3 = int(input("Enter third number:" ))
ls = [user1,user2,user3]

for i in ls:
    ls.sort()

print (ls[1])

Enter first number: 58
Enter second number: 54
Enter third number:34
54

# Q11
Write a Python program to calculate the sum and average of n integer numbers (input from the user). Input 0 to finish.

In [42]:
while True:
    numbers = int(input("Enter a number or enter 0 to exit: "))
    
    if numbers == 0:
        print("Goodbye!!!")
        break
    
    total = 0
    for x in range(numbers):
        num = int(input("Enter a number: "))
        total = total + num
        
    print({"Sum:":total})
    print({"Average:":total/numbers})

Enter a number or enter 0 to exit: 3
Enter a number: 2
Enter a number: 1
Enter a number: 1
{'Sum:': 4}
{'Average:': 1.3333333333333333}
Enter a number or enter 0 to exit: 0
Goodbye!!!

# Q12
 Write a Python program to create the multiplication table (from 1 to 12) of a number input from a user.
 
 Expected Output:

Input a number: 6                                                       
6 x 1 = 6                                                               
6 x 2 = 12                                                              
6 x 3 = 18                                                              
6 x 4 = 24                                                              
6 x 5 = 30                                                              
6 x 6 = 36                                                              
6 x 7 = 42                                                              
6 x 8 = 48                                                              
6 x 9 = 54                                                              
6 x 10 = 60 

6 x 11 = 66

6 x 12 = 72

In [36]:
num=int(input("Enter number: "))

for i in range(1,13):
    print(f"{num} x {i} = {num * i}")

Enter number: 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
3 x 11 = 33
3 x 12 = 36

# Q13
Write a Python program to construct the following pattern

1

22

333

4444

55555

666666

7777777

88888888

999999999

In [37]:
for num in range(1, 10):
    print(str(num) * num)
    print()

1

22

333

4444

55555

666666

7777777

88888888

999999999

# Q14
Print sum of all odd numbers from 10 to 50

# Q15

`my_list = [25, 100, 121, 400, 81]`

Write the code to display the list of the square root of each number in my list

- Without using list comprehension
- Using list comprehension

In [39]:
#Without list comprehension
my_list = [25, 100, 121, 400, 81]

ans_list=[]

for num in my_list:
    ans_list.append(num**0.5)

ans_list

[5.0, 10.0, 11.0, 20.0, 9.0]

In [41]:
#With list comprehension
ans_list = [num**0.5 for num in my_list]

ans_list

[5.0, 10.0, 11.0, 20.0, 9.0]